[submodule "imgui_docking"]
    path = vendor/imgui_docking
    url = https://github.com/FiendChain/imgui_docking_cmake.git

[submodule "tflite_c"]
    path = vendor/tflite_c
    url = https://github.com/FiendChain/tflitec_cmake_package.git

[submodule "util"]
    path = vendor/util
    url = https://github.com/FiendChain/windows_bot_util.git

[submodule "fmt"]
    path = vendor/fmt
    url = https://github.com/fmtlib/fmt.git

[submodule "argparse"]
    path = vendor/argparse
    url = https://github.com/p-ranav/argparse.git
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/tflite_c"]
	url = https://github.com/williamyang98/tflitec_cmake_package.git
[submodule "vendor/util"]
	url = https://github.com/williamyang98/windows_bot_util.git
[submodule "vendor/imgui_docking"]
	url = https://github.com/williamyang98/imgui_docking_cmake.git
